@media only screen and (max-width:800px){
  .fixed-bar-link{
    display: none;
  }
  .fixed-topbar span .max-size{
    display: none;
  }
  .fixed-topbar-left {
    width:100px;
  }
  .fixed-topbar span{
    width: 60%;
  }
  .burger-menu {
    height:50px;
    width: 50px;
  }
  .landing-articles-container{
    height: 75vh;
  }
  .big-article{
    height: 33%;
    width: 100%;
    display: inline-grid;
    margin: 0.5%;
    padding: 12% 2vh 2vh 2vh;
    align-items: flex-end;
    background-image: url("../images/ai-artificial-intelligence-code-34676-405x270.jpg");
  }
  .small-article{
    height: 33%;
    width: 100%;
    margin: 0.5%;
    display:inline-grid;
    padding: 12% 2vh 2vh 2vh;
    align-items: flex-end;
  }
  .latest-news-grid-container, .latest-deals-grid-container{
    width: 100%;
    height:90vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2vh;
    grid-auto-rows: 10%;
    margin: 10vh auto;
  }
  .latest-news-grid-container img, .latest-deals-grid-container figure img {
    height: inherit;
    width:10%;
    float: left;
    margin-right: 5px;
  }
  .latest-news-article span{
    font-size:0.8em;
  }
  .latest-funding-grid-container {
    display: grid;
    grid-column-gap:5vh;
    grid-template-rows: 15% 1fr 1fr 1fr;
    grid-template-columns: 100%;
    width:100%;
    margin: 10px auto;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
  }
  .funding-header {
    grid-column:1 / span 1;
  }
  .latest-funding-grid-container .funding-company-img {
    display: none;
  }
  .latest-news-article figcaption{
    height:20px;
    padding:0;
  }
  .latest-news-article figcaption a{
    display: inline;
  }
  .latest-funding-grid-container .funding-item {
    background-image: url("../images/FundingWide1.png");
    background-size: 100% 60px;
    background-repeat: no-repeat;
    padding-top: 60px;
  }
  .latest-funding-grid-container .disappearing-link{
    display: none;
  }
  .latest-funding-grid-container h3 {
    width:auto;
    margin-right: auto;
  }
  .extras-span{
    display: block;
    width:auto;
    margin-right: 35%;
    text-align: left;
    float: left;
    margin-bottom: 10px;
  }
  .fund-exp{
    padding:2% 2% 0 2%;
  }
  .latest-funding-grid-container .extras-span * {
    border:none;
    margin:0;
    padding: 0;
  }
  .latest-funding-grid-container .funding-item .funding-list {
    display: block;
    float: left;
    width:40%;
    padding: 7px 0 0 0;
  }
  .latest-funding-grid-container .funding-item .funding-list li{
    width: 100%;
  }
  .topics-grid-container {
    display: grid;
    width:auto;
    margin: 100px auto;
    height: 750vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5vh;
  }
  .topic-first{
    padding: 15% 2% 0 2%;
    height: 30vw;
  }
  .topic-latest-texts{
    padding: 2%;
  }
  .topic-list{
    height: 35%;
  }
  .topic-list li{
    margin-bottom: 5px;
    line-height: 1.8em;
    border-bottom: 0.5px solid #ccc;
  }
  .topic-list li:hover{
    color:#333333;
  }
  #LatestDeals.extras-span {
    float: right;
    margin: 0 auto;
  }
  .footer-desc * {
    font-size: 0.8em;
  }
}
